/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

/* Custom styles
-------------------------------------------------- */
/*body {
    width: 100%;
    height: 100vh;
    /*margin: 0 auto;
    /*position: relative;
    background-image: url("../images/audios-landing.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.landing-message {
    margin: 50px 0 0 100px;
}*/

.hero-image img {
    width: 100%;
    display: block;
}

.hero-image {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    z-index: -1;
}

.nav-greeting {
    margin-top: 3px;
}

.add-song-plus {
    margin: 12px;
}

#audios-logo {
    height: 30px;
    width: 30px;
}

#searchInput {
    border-top: none;
    border-left: none;
    border-right: none;
}

#add-song {
    height: 20px;
    width: 20px;
}

.song-index-td img {
    height: 20px;
    width: 20px;
}

.song-index-td a {
    text-decoration: none !important;
}

.secondary-text {
    color: #4E5D6C;
}

.exists-message {
    color: #5bc0de;
}

.chrome-grey {
    color: #F1F3F4;
}

.bg-chrome-grey {
    background-color: #F1F3F4;
}

/* ---------- SONG INDEX ---------- */
#song-index-container {
    max-width: 1200px;
    margin: 0, auto;
}

.song-index-audios,
.song-index-playlist {
    margin-left: -30px;
}

.song-column {
    max-width: 550px;
}

.songlist-wrapper {
    width: 500px;
    margin-left: 20px;
}

.playlist-wrapper {
    width: 500px;
    margin-left: 30px;
}

.song-image-container {
    width: 500px;
    margin-bottom: 2px;
    padding: 0;
    border-top-right-radius: 10px;
    /*border-radius: 10px;*/
    background-color: #F1F3F4;
}

.artist-image {
    height: 80px;
    width: 80px;
    margin: 0;
    border: 1px solid grey;
}

.text-and-player {
    height: 80px;
    width: 420px;
    overflow: hidden;
}

.player-text {
    color: dimgrey;
    font-size: 15px;
    height: 25px;
    width: 450px;
    padding-left: 18px;
    overflow: hidden;
}

.song-container {
    height: 55px;
    width: 450px;
    margin: 0;
    overflow: hidden;
}

.audio-container {
    margin-left: 15px;
    margin-right: 15px;
    overflow: hidden;
}

audio:focus {
    outline-style: none;
}

.song-index-links {
    height: 55px;
    margin: 0;
    padding: 0, 15px;
    overflow: hidden;
}

    .song-index-links a {
        text-decoration: none;
        margin: 0, 5px;
    }

.song-index-icon {
    height: 18px;
    width: 18px;
}

.playlist-arrow {
    transform: rotate(270deg);
}
/* --- drap drop styling --- */

